<h1>Editing customer supplier</h1>

<%= render "form", customer_supplier: @customer_supplier %>

<br>

<div>
  <%= link_to "Show this customer supplier", @customer_supplier %> |
  <%= link_to "Back to customer suppliers", customer_suppliers_path %>
</div>
